* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#header {
	position: relative;
}
.wrapper {
	width: 100vw;
	height: 56vw;
	position: static;
}
.header__back {
	width: 100vw;
	height: 56vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#blind {
	width: 100vw;
	height: 56vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(57, 20, 175, 0.7);
	z-index: 2;
}

.content__container {
	width: 100%;
}
#menu {
	width: 100%;
	height: 10vw;
	position: fixed;
	display: flex;
	justify-content: space-between;
	z-index: 3;
	padding: 3px 6px 0 6px;
}
#logo {
	width: 50vw;
	height: 8vw;
}
#logo__image {
	width: 7vw;
	height: 7vw;
}
#logo p {
	padding: 1vw 0 0 2vw;
}
#mobile__nav {
	color: #fff;
	font-size: 35px;
	margin-right: 30px;
}
.nav__box {
	padding: 10vw 0 0 2vw;
	width: 30vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 70vw;
	text-align: left;
	background-color: rgba(11, 3, 56, 0.9);
	z-index: 4;
}
.menu {
	width: 80px;
	height: 35px;
}
.icon__size {
	font-size: 35px;
}
.nav__button {
	text-align: left;
	width: 130px;
	height: 40px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-family: "Montserrat";
	font-size: 20px;
	margin: 0;
	font-weight: 300;
	display: block;
}
.nav__box__invisible {
	display: none;
}
#header__text {
	top: 10vw;
	left: 25vw;
	color: #fff;
	position: absolute;
	z-index: 2;
	font-weight: 100;
	font-size: 8vw;
	font-family: "Courier New";
}
#header__text1 {
	top: 20vw;
	left: 25vw;
	color: #fff;
	position: absolute;
	z-index: 2;
	font-size: 8vw;
	font-weight: 100;
	font-family: "Courier New";
}
#header__text2 {
	top: 30vw;
	left: 25vw;
	color: #fff;
	position: absolute;
	z-index: 2;
	font-size: 8vw;
	font-weight: 100;
	font-family: "Courier New";
}
h3 {
	text-align: center;
	color: #3714b0ff;
	font-family: "Courier New";
	font-size: 5vw;
	font-weight: 500;
}
#about__me {
	padding-top: 20px;
}
#about {
	width: 100vw;
	height: 95vw;
}
.content__container1 {
	width: 100vw;
	height: 95vw;
	background-color: #fff;
	padding-bottom: 5vw;
}
.horizont__line {
	margin: 0 auto;
	width: 20vw;
	height: 6px;
	border-bottom: 3px solid rgba(67, 26, 201, 0.8);
}
#about__image {
	width: 40vw;
	height: 40vw;
	border-radius: 50%;
	border: 5px solid #866fd7ff;
	margin: 3vw auto;
	overflow: hidden;
	align-items: center;
	text-align: center;
	transform: rotateY(90deg);
}
#about__text{
	transform: rotateY(90deg);
}
#photo {
	width: 44vw;
	height: 44vw;
}
.about__text {
	width: 80vw;
	margin: 5vw auto;
	text-align: justify;
}
.about__text p {
	margin: 2vw 0;
	font-family: "Bad Script";
	color: #2f08b9;
	line-height: 1.2;
}
#content__portfolio {
	margin-bottom: 5vw;
}
#slider {
	width: 91vw;
	height: 45vw;
	margin: 0 auto;
	display: flex;
}
.slider__button {
	width: 5vw;
	height: 45vw;
	background-color: rgb(57, 20, 175);
	border: none;
	color: #fff;
	text-align: center;
}
#slider__screen {
	width: 81vw;
	height: 45vw;
	overflow: hidden;
	position: relative;
}

.contant__container2 {
	background-color: rgb(57, 20, 175);
	padding: 5vw 0;
}
#portfolio__header {
	color: #fff;
}
.image__portfolio {
	width: 81vw;
	height: 45vw;
	display: block;
	position: absolute;
}
.contant__container3 {
	margin: 10vw auto;
}
#all__cards__box {
	padding: 20px 0;
}
.diagram {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	margin: 1vmin auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.plug {
	width: 17vw;
	height: 17vw;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat";
	font-size: calc(1rem + 2vmin);
	color: rgb(11, 13, 180);
}
.card {
	width: 250px;
	margin: 5px auto;
	border-radius: 10px;
}
.card p {
	text-align: center;
	color: #2f08b9;
	font-family: "Montserrat";
	margin: 10px auto;
	font-size: 20px;
}
.content__container4{
	background-color: rgb(57, 20, 175);
	padding: 5vw 0;
}
#contant__contact{
	width: 80vw;
	margin: 5vw auto;
}
.contact__header{
	color: #fff;
}
#contact__form__box{
	width: 70vw;
	margin: 3vw auto;

}
input{
	width: 70vw;
	height: 7vw;
	margin: 1vw 0;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 0 1vw;
	font-family: 'Courier New';
	font-size: 5vw;

}
textarea{
	width: 70vw;
	height: 14vw;
	margin: 1vw 0;
	text-decoration: none;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 0 1vw;
	font-family: 'Courier New';
	font-size: 5vw;
}
#text__button__box{
	text-align: center;
}
#name__emaill__box{
	text-align: center;
}

#contact__button{
	margin-top: 2vw;
	color: #fff;
	width: 30vw;
	height: 10vw;
	font-family: 'Montserrat';
	font-size: 4vw;
	background-color: rgb(11, 3, 56);
	border: 1px solid #fff;
	border-radius: 5px;
	font-weight: 300;
}
#content__container5{
	width: 100vw;
	height: 15vw;
	background-color: rgb(11, 3, 56);
}
#social__icons img{
	width: 10vw;
	height: 10vw;
}
#icon__box p{
	padding-top: 2.5vw;
	text-align: center;
}