*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body{
	position: relative;
}
.invisible{
	display: none;
}

button{
	outline: none;
}
button, a {
	cursor: pointer;
}
.input__color{
	border: 1px soli #FFFFFF;
}
header{
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
header img{
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
#blind{
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}
menu{
	width: 100vw;
	height: 7vh;
	position: absolute;
	top: 0;
	left: 0;
}
#home{
	color: rgb(15, 135, 214);
}
.mobile-menu__container{
	padding-top: 1vh;
}
.mobile-menu__container .material-icons{
	color: #FFFFFF;
	font-size: 6vh;
	cursor: pointer;

}
#mobile__navigation{
	padding-top: 7vh;
	width: 34vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right:0vw;
	background-color: rgba(0, 0, 0, 0.6);
}
#mobile__navigation button{
	background-color: transparent;
	font-size: 4vw;
	border: none;
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	margin: 2vh 2vw;
}
.logo{
	width: 80vw;
	height: 10vh;
}
.logo p{
	font-size: 5vh;
	font-weight: 800;
	font-family: 'Koulen';
	color: #FFFFFF;
}
.menu__conteiner{
	padding: 0 10vw;
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
}
#navigation{
	height: 7vh;
	left: 0;
	position: fixed;
	padding-left: 85vw;
	width: 100vw;
	background-color:rgba(27, 29, 31, 0);
	z-index: 1000;
}
.mobile-menu__container{
	position: relative;
}
.menu__visible{
	display: none;
}

.invisible-header__text{
	animation: headerInvis 1.5s linear forwards;
}
.visible-header__text{
	animation: header 1.5s linear forwards;
}
@keyframes header {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes headerInvis {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.navigation-button__box{
	padding: 1.45vw 0 0 14.5vw;
	width: 50vw;
}
.navigation-button__box button{
	background-color: transparent;
	border: none;
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 1.5vw;
	margin-left: 1vw;
}
.header__title{
	position: absolute;
	top: 30vh;
	left: 7vw;
	opacity: 0;
}
.header__title h1{
	font-family: 'Oswald';
	color: #FFFFFF;
	font-size: 8vh;
	text-align: center;
}
.header__text{
	width: 25vw;
	position: absolute;
	top: 70vh;
	left: 40vw;
	opacity: 0;
	border-top: 2.5px solid #0281D4; 
}
.header__text{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 3vh;
	margin-left: 1vw;
	text-align: center;
}
/*about me*/
.adout-me__container{
	width: 100vw;
	height: 93vh;
	display: flex;
	flex-wrap: wrap;
}
.about-me-text__container{
	width: 50vw;
	height: 55vh;
	overflow: hidden;
	position: relative;
}
.about-me-text__container img{
	width: 50vw;
	height: 55vh;
}
.about-me__blind{
	position: absolute;
	top: 0;
	left: 0;
	width: 50vw;
	height: 55vh;
	background-color: rgba(15, 135, 214, 0.85);
}
.about-me-text__title{
	width: 40vw;
	height: auto;
	padding-top: 1vw;
	position: absolute;
	top: 0;
	left: 5vw;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.about-me-text__title p{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 3vh;
}
.about-me__text{
	width: 40vw;
	position: absolute;
	top: 7vh;
	left: 5vw;
}
.about-me__text ul li{
	text-decoration: none;
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 1.6vh;
	text-align: justify;
	line-height: 150%;
	margin-bottom: 1vw;
}
.about-me__foto {
	width: 50vw;
	height: 55vh;
}
.about-me__foto img{
	width: 50vw;
	height: 55vh;
}
.about-me__information {
	position: relative;
	width: 100vw;
	height: 38vh;
	background-color: #1B1D1F;
}
.about-me__title{
	width: 40vw;
	height: 6vh;
	padding-top: 1vw;
	position: absolute;
	top: 0;
	left: 6vw;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.about-me__title h2{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4vh;
}
.about-me-information__text{
	width: 90vw;
	height: auto;
	position: absolute;
	top: 7vh;
	left: 6vw;
}
.about-me-information__text p{
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 1.6vh;
	text-align: justify;
	line-height: 160%;
}
/*skills*/
.skills__conteiner{
	width: 100vw;
	height: 100vh;
}
.skills-box__cards{
}
#box__first-group{
	width: 100vw;
	display: flex;
}
#box__second-group{
	width: 100vw;
	display: flex;
}
.skills__title{
	width: 40vw;
	height: 6vh;
	padding-top: 1vw;
	margin-left: 6vw;
	border-bottom: 1px solid rgba(27, 29, 31, 0.6);
}
.skills__title h2{
	color:rgb(27, 29, 31);
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4vh;
}
.odd__card{
	width: 50vw;
	height: 50vh;
}
.even__card{
	width: 50vw;
	height: 50vh;
	background-color:rgba(27, 29, 31, 0.6);
}
.odd__card h3{
	color:rgb(27, 29, 31);
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 3vh;
	margin-left: 5vh;
}
.even__card h3{
	color:rgb(255, 255, 255);
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 3vh;
	margin-left: 5vh;
}
.card__top-padding{
	padding-top: 10vw;
}
.diagram {
	width: 20vh;
	height: 20vh;
	border-radius: 50%;
	margin: 1vmin auto 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.plug {
	width: 17vh;
	height: 17vh;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat";
	font-size: 5vh;
	color: rgb(15, 135, 214);
}
.odd__plug {
	width: 17vh;
	height: 17vh;
	border-radius: 50%;
	background-color: #767779;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat";
	font-size: 5vh;
	color: rgb(255, 255, 255);
}
/*portfolio*/
.portfolio{
	width: 100vw;
}
.portfolio__container{
}
.potfolio-text__box{
	padding: 0 0 0 5vw;
	width: 100vw;
	height: 53vh;
	background-color:rgb(27, 29, 31);
}
.portfolio-text__title{
	width: 40vw;
	height: 6vh;
	padding-top: 1vw;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.portfolio-text__title h2{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4vh;
}
.portfolio-text__box{
	width: 90vw;
	padding-top: 5vw;
}
.portfolio-text{
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 1.8vh;
	text-align: justify;
	line-height: 160%;
}
.slider__box{
	position: relative;
	width: 100vw;
	height: 50.76vw;
}
.slider__box button{
	display: block;
	width: 5vw;
	height: 50.76vw;
}
#slider__left{
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	color: rgb(6, 66, 107);
	text-align: right;
	z-index: 1000;
	outline: none;
}
#slider__right{
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	color: rgb(6, 66, 107);
	text-align: left;
	outline: none;
	z-index: 1000;
}
.material-icons{
	font-size: 4vw;	
}
.slider{
	width: 100vw;
	height: 50.76vw;
	overflow: hidden;
}

.offer__slider{
	width:100vw;
	display:flex;
	flex-direction:column;
	align-items:flex-end
}


.offer__slide{
	width: 100vw;
	height: 50.76vw;
}
.offer__slide img{
	width:100%;
	height:100%;
	object-fit:cover
}
/*contacts*/
.contacts__container{
}
.left-contacts__box{
	width: 100vw;
	height: 20vh;
	background-color:rgb(15, 135, 214);
	padding: 0 0 0 5vw;
}
.center-contacts__box{
	width: 100vw;
	height: 55vh;
	background-color:rgb(27, 29, 31);
}
.right-contacts__box{
	width: 100vw;
	height: 15vh;
	background-color:rgb(15, 135, 214);
	padding: 4vw 0 0 4vw;
}
.contacts__title{
	width: 40vw;
	height: 6vh;
	padding-top: 1vw;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.contacts__title h2{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4vh;
}
.contacts-email__title{
	width: 90vw;
	height: 10vw;
	padding: 0 0 0 5vw;
}
.contacts-email__title p{
	color:#FFFFFF;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 4vh;
}
input:focus{
	border-color:#0281D4;
	background-color: transparent;
}
textarea:focus{
	border-color:#0281D4;
	background-color: transparent;
}
textarea{
	width: 87vw;
	height: 30vw;
	outline: none;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	color:#FFFFFF;
	margin: 1vw 0;
	padding: 0.5vw 1vw;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%;
	display: block;
	resize: none;
}
.checkbox__input{
	display: none;
}
.checkbox{
	margin-top: 1vw;
}
.checkbox__label{
	width: 70vw;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 2vw;
	line-height: 122.22%;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.checkbox__input:checked + .checkbox__label::after{
	transform: scale(1);
}
.checkbox__label::before{
	content: "";
	align-self: flex-start;
	flex: 0 0 4vw;
	height: 4vw;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	margin-right: 0.5vw;
}
.checkbox__label::after{
	content: "";
	width: 3vw;
	height: 3vw;
	position: absolute;
	top: 0.6vw;
	left: 0.6vw;
	background-color: #0281D4;
	transform: scale(0);
}
.input__box{
	display: flex;
	flex-wrap: wrap;
}
form{
	padding-left: 5vw;
}
input {
	display: block;
	outline: none;
	width: 43vw;
	height: 7vw;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	color:#FFFFFF;
	margin: 1vw 0;
	padding-left: 1vw;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%
}
input:focus{
	-webkit-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
}
textarea:focus{
	-webkit-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.2);
}
.name__input{
	margin-right: 1vw;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	line-height: 122.22%;
}
#submit__button{
	display: block;
	width: 87vw;
	height: 7vw;
	color:#FFFFFF;
	font-size: 4vw;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 300;
	background-color:#0281D4;
	margin-top: 1vw;
	margin-bottom: 0.5vw;
	border-radius: 3.5vw;
}
.form__error{
	width: 42vw;
	height: 2vh;
	color: red;
	margin-right: 1vw;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 2vw;
}

.contacts-information__text{
	width: 90vw;
	height: 10vw;
	top: 12vw;
	left: 5vw;
}
.contacts-information__text p{
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 2vh;
	text-align: justify;
	line-height: 160%;
	margin: 0.5vw 0;
}
.contacts-information__text img{
	width: 2.5vh;
	height: 2.5vh;
}


footer{
	width: 100vw;
	height: 5vw;
	background-color: rgb(255, 255, 255);
	padding: 2vw 0 0 5vw;
}
.footer__text p{
	font-size: 1vw;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	color: rgb(27, 29, 31);
}
.footer__text span{
	font-size: 1.9vw
}
/*modal window*/
.modal-window-fetch-ok{
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 29, 31, 0.7);
	position: fixed;
	top: -30vw;
	left: 0;
	padding: 12.5vw 0 0 35vw;
	transform: rotateX(90deg);
}
.modal-window-fetch-ok__message{
	width: 30vw;
	height: 22.5vw;
	background-color:#0281D4;
	padding: 5vw;
}
.modal-window-fetch-ok__message p{
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 2vw;
	margin: 1vw 0;
	text-align: center;
}
.modal-window-fetch-error{
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 29, 31, 0.7);
	position: fixed;
	top: -30vw;
	left: 0;
	padding: 12.5vw 0 0 35vw;
	transform: rotateX(90deg);
}
.modal-window-fetch-error__message{
	width: 30vw;
	height: 22.5vw;
	background-color:#0281D4;
	padding: 5vw;
}
.modal-window-fetch-error__message p{
	color:#FFFFFF;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 1.8vw;
	margin: 1vw 0;
	text-align: center;
}
.modal-animation__open{
	animation: modal-open 1s linear forwards;
}
.modal-animation__close{
	animation: modal-close 1s linear forwards;
}
@keyframes modal-open {
	0%{
		top: -30vw;
		transform: rotateX(90deg);
	}
	100%{
		top: 0;
		transform: rotateX(0deg);
	}
	
}
@keyframes modal-close {
	0%{
		top: 0;
		transform: rotateX(0deg);
	}
	100%{
		top: -30vw;
		transform: rotateX(90deg);
	}
	
}